@import "ships.css";

.gameboard {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.option-container {
    width: 500px;
    height: 50px;
    margin: 30px 0px;
    background-color: #FFB330;
    display: flex;
    align-items: center;
}

.game-board {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;

}

.game-block {
    box-sizing: border-box;
    border: 1px solid;
    width: 20px;
    height: 20px;
}

.board-div {
    margin: 10px;
}